<div class="page">
  <h1 id="page-title" style="font-weight: 700">
    Movie Store
  </h1>
  <div id="page-route">
      <a class="page-route-button" routerLink="/firstpage">首页</a>
      <a class="page-route-button" routerLink="/movielist">影库</a>
  </div>
  <div class="main-line">
    <div class="left-line">
      <div id="left-content">
        <div class="left-list">
          热门排行
        </div>
        <div class="left-list" *ngFor="let topmovie of topMovies"><a id="left-font" [routerLink]="['/movie',topmovie.id]">{{topmovie.movie_name}}</a></div>
        <div class="left-list">
          热门影评
        </div>
        <div class="left-list"><a id="left-font">一场美丽的邂逅</a></div>
        <div class="left-list"><a id="left-font">他山之石，可以攻玉</a></div>
        <div class="left-list"><a id="left-font">唱给白鹿原的歌</a></div>
        <div class="left-list"><a id="left-font">美丽星期天</a></div>
      </div>
      <div id="main-content">
        <form id="select-seat" class="form-inline" style="text-align: left">
          <label for="date">观影日期：</label>
          <input class="form-control" type="date" id="date" #date value="2017-06-01" (change)="0">
          <label for="time">场次：</label>
          <select class="form-control" id="time" #time value="7:00" (change)="0">
            <option value="7:00">7:00</option>
            <option value="9:00">9:00</option>
            <option value="11:00">11:00</option>
            <option value="13:00">13:00</option>
            <option value="15:00">15:00</option>
            <option value="17:00">17:00</option>
            <option value="19:00">19:00</option>
            <option value="21:00">21:00</option>
          </select>
          <label for="place">地点：国际IMAX电影城</label>
          <select class="form-control" id="place" #place value="1号厅" (change)="0">
            <option value="1号厅">1号厅</option>
            <option value="2号厅">2号厅</option>
            <option value="3号厅">3号厅</option>
            <option value="4号厅">4号厅</option>
            <option value="5号厅">5号厅</option>
          </select>
        </form>
        <div id="seat-area">
          <h4>在线选座</h4>
          <table>
            <tr *ngFor="let line of lineNum">
            <td>{{line}}</td>
            <td *ngFor="let seat of rankNum" (click)="selectseat(line, seat)">
              <svg width="80" height="50" [ngSwitch]="seatNum[line-1][seat-1]">
                <svg:g *ngSwitchCase="0" validSeat />
                <svg:g *ngSwitchCase="1" selectedSeat />
                <svg:g *ngSwitchCase="2" invalidSeat />
              </svg>
            </td>
            </tr>
          </table>
        </div>
        <div *ngIf="buymovie" id="buy-msg">
          <h4>购买信息</h4>
          <div><img [src]="buymovie.image_url" width="200" height="250"/></div>
          <div>片名：{{buymovie.movie_name}}</div>
          <div>导演：{{buymovie.movie_director}}</div>
          <div>主演：{{buymovie.movie_actor1}}、{{buymovie.movie_actor2}}、{{buymovie.movie_actor3}}</div>
          <div>地点：国际IMAX电影城 {{place.value}}</div>
          <div>时间：{{date.value}} {{time.value}}</div>
          <div>已选座次：
            <span *ngIf="selected" >
              <span *ngFor="let linenum of selectedNum">{{linenum[0]}}排{{linenum[1]}}座 </span>
            </span>
          <div id="bottom-button">
            <button id="button" (click)="buy()">购买</button>
            <button id="button" (click)="goBack()">返回</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear" id="footer">
    Enjoy yourself! 
  </div>
</div>
