<form>
    <div>
        <label>电影类型:</label>
            <select #selectStyle>
                <option value="any">不限</option>
                <option value="history">历史</option>
                <option value="love">爱情</option>
            </select>
        <label>上映时间:</label>
            <select #selectTime>
                <option value="any">不限</option>
                <option value="2015-2018">2015至今</option>
                <option value="2010-2014">2010-2014</option>
                <option value="2000-2010">2000-2010</option>
                <option value="1950-2000">2000以前</option>
            </select>
        <button (click)="selectMovies(selectStyle.value,selectTime.value)">搜索</button>
    </div>
    <ul>
        <li *ngFor="let movie of selectedMovies">
            {{movie.MovieName}}
        </li>
    </ul>
</form>
            