<div id="page-base">
  <div id="page-title">
    <h1 style="font-weight: 700">Movie Store</h1>
    <h2>
        Welcome to the latest Movie Store.
    </h2>
    <h2>
        Here you can get all kinds of movies you like.
    </h2>
  </div>
  <table>
    <tr>
    <td>
    <div id="navigation">
      <a class="route-button" routerLink="/firstpage">首页</a>
      <a class="route-button" routerLink="/movielist">影库</a>
    </div>
    </td>
    <td>
    <div id="log-in">
      <form>
        <label class="form-label" for="username">用户名</label>
        <input type="text" class="input-box" id="username" required>
        <label class="form-label" for="password">密码</label>
        <input type="password" class="input-box" id="password" required>
        <button type="submit" class="button">登录</button>
        <button type="submit" class="button">注册</button>
      </form>
    </div>
    </td>
    </tr>
  </table>
</div>
<div class="clear" id="footer">
    Enjoy yourself! 
</div>
