<div class="page">
  <h1 id="page-title" style="font-weight: 700">
    Movie Store
  </h1>
  <div id="page-route">
      <a class="page-route-button" routerLink="/firstpage">首页</a>
      <a class="page-route-button" routerLink="/movielist">影库</a>
  </div>
  <div class="main-line">
    <div class="left-line">
      <div id="left-content">
        <div class="left-list">
          热门排行
        </div>
        <div class="left-list" *ngFor="let topmovie of topMovies"><a id="left-font" type="color: white">{{topmovie.MovieName}}</a></div>
        <div class="left-list">
          热门影评
        </div>
        <div class="left-list"><a id="left-font">一场美丽的邂逅</a></div>
        <div class="left-list"><a id="left-font">他山之石，可以攻玉</a></div>
        <div class="left-list"><a id="left-font">唱给白鹿原的歌</a></div>
        <div class="left-list"><a id="left-font">美丽星期天</a></div>
      </div>
      <div id="main-content">
        <h4>
          电影推荐
        </h4>
        <div class="movie-display" *ngFor="let topmovie of topMovies">
          <a id="display" [routerLink]="['/movie',topmovie.Id]">
            <img [src]="topmovie.ImgUrl" width=150 height=210>
            <div>
              片名：{{topmovie.MovieName}}<br/>
              导演：{{topmovie.MovieDirector}}<br/>
              主演：{{topmovie.MovieActors[0]}}、{{topmovie.MovieActors[1]}}、{{topmovie.MovieActors[2]}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clear" id="footer">
    Enjoy yourself! 
  </div>
</div>